---
layout: archive
title: "Experience"
permalink: /professional/
author_profile: true
---
<style type="text/css">
  .tg  {border:none;border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:0px; font-size:medium; font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:10px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
<!--   <h3>Industry Experience </h3>
    <table class="tg">
    <tbody>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"><span style="font-weight:bold">Test Engineering Intern, Qorvo, Greensboro</span>
              <table>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Designed and implemented the <em>Test Request and Management System</em>. Additionally, organized training sessions to facilitate the seamless adoption of the system by the Qorvo Test Engineering and Product Engineering team. This system is anticipated to yield a 10% productivity enhancement.</td>
                </tr>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Wrote ultra-wideband pattern conversion library code in C++ for the unison operator tool.</td>
                </tr>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Contributed to the development of a Python-based code generator.</td>
                </tr>
            </table>
      </td>
      <td class="tg-0lax"><span style="font-weight:bold;font-style:normal">May </span><span style="font-weight:bold">2022 - Aug 2022</span></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"><span style="font-weight:bold">Rajshahi Water Supply and Sewerage Authority (Rajshahi WASA), Rajshahi, Bangladesh</span>
              <table>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Provided consultation on client data management and system development, including the integration of online banking APIs, to Rajshahi WASA during the development of an online billing system. The system now serves around 100 thousand clients in Rajshahi.</td>
                </tr>
            </table>
      </td>
      <td class="tg-0lax"><span style="font-weight:bold;font-style:normal"></span><span style="font-weight:bold"> May 2022 - Aug 2022</span></td>
    </tr>
  </tbody>
  </table> -->

  <h3>Industry Experience</h3>
  <table class="tg">
  <tbody>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"><span style="font-weight:bold">Test Engineering Intern, Qorvo, Greensboro</span>
              <table border="0">
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Designed and implemented the <em>Test Request and Management System</em>. Additionally, organized training sessions to facilitate the seamless adoption of the system by the Qorvo Test Engineering and Product Engineering team. This system is anticipated to yield a 10% productivity enhancement.</td>
                </tr>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Wrote ultra-wideband pattern conversion library code in C++ for the unison operator tool.</td>
                </tr>
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Contributed to the development of a Python-based code generator.</td>
                </tr>
            </table>
      </td>
      <td class="tg-0lax"><span style="font-weight:bold">May 2022 - Aug 2022</span></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"><span style="font-weight:bold">Rajshahi Water Supply and Sewerage Authority (Rajshahi WASA), Rajshahi, Bangladesh</span>
              <table border="0">
                <tr>
                    <td class="tg-0lax">&#x2022;</td>
                    <td>Provided consultation on client data management and system development, including the integration of online banking APIs, to Rajshahi WASA during the development of an online billing system. The system now serves around 100 thousand clients in Rajshahi.</td>
                </tr>
            </table>
      </td>
      <td class="tg-0lax"><span style="font-weight:bold">Jan 2021 - Dec 2021</span></td>
    </tr>
  </tbody>
  </table>
  
  <h3>Academic Experience</h3>
  <table class="tg">
  <tbody>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Graduate Research Assistant, Department of Computer Science, Wake Forest University</span><br>Conduct studies for an <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2105007">NSF</a> funded project contributing to the progress in the development of safe-explainable RL.</td>
      <td class="tg-0lax"><span style="font-weight:bold">Jan 2022-Present</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Assistant Professor, Department of Computer Science &amp; Engineering, RUET</span><br>Instructed 120 students in courses on Software Engineering and Object-Oriented Programming. Supervise 2 thesis and 8 application/web development projects by the students.</td>
      <td class="tg-0lax"><span style="font-weight:bold">May 2021 - (Presently on study leave)</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Lecturer, </span><span style="font-weight:700">Department of Computer Science &amp; Engineering, RUET</span><br>Conducted classes on courses such as: C programming language, Analytical Programming, Computer Fundamentals, Lab on Data stucture, Lab on C++ &amp; Java.</td>
      <td class="tg-0lax"><span style="font-weight:bold">July 2017 - May 2021</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Lecturer, Department of Software Engineering, Daffodil International University</span><br>Taught a class of 30 students in C programming language and Software Engineering courses.</td>
      <td class="tg-0lax"><span style="font-weight:bold">Jan 2017 - April 2017</span></td>
    </tr>
  </tbody>
  </table>
  <h2>Professional Activities</h2>
  <hr>
     <table class="tg">
    <tbody>
      
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax">PC member in <a href="https://aaai.org/aaai-conference/">AAAI 2024</a> </td>
<!--       <td class="tg-0lax"></td>  -->
    </tr>
  </tbody>
  </table>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
