---
layout: archive
title: "Professional Experience"
permalink: /professional/
author_profile: true
---
<style type="text/css">
  .tg  {border:none;border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:0px; font-size:medium; font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:10px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <tbody>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Research Assistant, Department of Computer Science, Wake Forest University</span><br>Conduct studies for an NSF-funded project contributing to the progress in the development of safe-explainable RL.</td>
      <td class="tg-0lax"><span style="font-weight:bold">Jan 2022-Present</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Test Engineering Intern, Qorvo, Greensboro</span><br>Collaborate with Qorvo test engineering teams and software engineering teams on 2 projects. </td>
      <td class="tg-0lax"><span style="font-weight:bold;font-style:normal">May </span><span style="font-weight:bold">2022 - Aug 2022</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Assistant Professor, Department of Computer Science &amp; Engineering, RUET</span><br>Mentor over 720 students on courses such as: Introduction to programming language, Object oriented programming,<br>Computer Fundamentals etc. Supervise 2 thesis and 8 web development projects by the students.</td>
      <td class="tg-0lax"><span style="font-weight:bold">May 2021 - (Presently on study leave)</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Lecturer, </span><span style="font-weight:700">Department of Computer Science &amp; Engineering, RUET</span><br>Teach courses such as: Computer Fundamentals, Lab on Data stucture, Lab on C++ &amp; Java.</td>
      <td class="tg-0lax"><span style="font-weight:bold">July 2017 - May 2021</span></td>
    </tr>
    <tr>
      <td class="tg-0lax">&#x2022;</td>
      <td class="tg-0lax"><span style="font-weight:bold">Lecturer, Department of Software Engineering, Daffodil International University</span><br>Instruct 60 students in courses such as Software Engineering and Computer Fundamentals.</td>
      <td class="tg-0lax"><span style="font-weight:bold">Jan 2017 - April 2017</span></td>
    </tr>
  </tbody>
  </table>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
